# Python
__pycache__/
*.py[cod]
*.pyc
.pytest_cache/
.env
.env.*
!.env.example
.venv/
venv/
.env.dev

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# OS
.DS_Store

# reports / analytics outputs
reports/*.jsonl
reports/*.csv
